.todo_list {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.input_holder {
  display: flex;
  align-items: center;
}

input {
  margin-right: 10px;
  height: 32px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  height: 32px;
  min-width: 70px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.main_holder {
  width: 30%;
  padding: 20px;
}

.list_holder {
  margin-top: 20px;
}

.list_item {
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list_item span {
  cursor: pointer;
  float: right;
  margin: 0px 8px !important;
}

.list_item svg {
  width: 20px;
  height: 20px;
}

.icons span:first-child:hover {
  color: red;
}

.icons span:last-child:hover {
  color: green;
}